.cerrarSesion{
	cursor: pointer;
}
.boton-modificar-usuario{
	color: white;
	width:  auto !important;
	float: right;
	margin-top: 5px;
	margin-left:  5px;
}
.li-botones-modificar{
	border-bottom: none !important;
}
.input-modificar{
	width: 600px;
	font-size: 15px;
}

.contenido-publicacion{
	height: 300px;
}

.contenido-publicacion-input{
	height: 200px;
}

.contenido-publicacion-listar{
	background: #ecf0f5;
	border-radius:  5px;
	padding: 10px;
}

.listar-publicacion-content {
	border-radius: 20px;
}

.comentario-hijo{
	margin: 10px;
}
